<!doctype html>
<html>
	<head>
		<meta charset='utf-8'/>
		<title><%= name %> &middot; madeincluj</title>
	</head>
	<body>
		<h1><%= name %></h1>
		<p><%if (description) {%><%= description.ro %><%}%></p>
	</body>
</html>