<!doctype html>
<html>
	<head>
		<meta charset='utf-8'/>
		<title><%= street.name %> &middot; madeincluj</title>
	</head>
	<body>
		<h1><%= street.name %></h1>
		<p><%= street.description ? street.descriptin.ro : '' %></p>
	</body>
</html>